workflow-callback.json
{
  "name": "workflow-telegram-callback",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        624,
        -160
      ],
      "id": "113d8e5a-a4f3-485b-961f-da52fe85555c",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot (create in n8n)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst cq = d.callback_query || d;\nconst chat_id = cq.message?.chat?.id || cq.from?.id;\nconst callback_data = cq.data || '';\nconst query_id = cq.id || '';\nreturn [{ json: { chat_id, callback_data, query_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -160
      ],
      "id": "630e2242-8db8-41be-8fc9-38ead688c793",
      "name": "Get Chat & Choice"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "AI Lead Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2010377293,
          "mode": "list",
          "cachedResultName": "TelegramReportCache",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=2010377293"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        -160
      ],
      "id": "d773c7ba-84bb-4931-8edc-e164586483d2",
      "name": "Google Sheets Read",
      "credentials": {
        "googleApi": {
          "id": "Z48bZMjhUhaxSx09",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const choice = $('Get Chat & Choice').first().json;\nconst chat_id = choice.chat_id;\nconst callback_data = choice.callback_data || '';\nconst query_id = choice.query_id;\n\nconst rows = $('Google Sheets Read').all();\nconst forChat = rows\n  .filter(r => String(r.json.ChatId || r.json.chat_id || '') === String(chat_id))\n  .sort((a, b) => new Date(b.json.Timestamp || 0) - new Date(a.json.Timestamp || 0));\nconst row = forChat[0]?.json || {};\n\nlet messageToSend = '';\nif (callback_data === 'ai_top3') messageToSend = row.AiTop3Message || row.ai_top3_message || '';\nelse if (callback_data === 'code_top3') messageToSend = row.CodeTop3Message || row.code_top3_message || '';\nelse messageToSend = 'Unknown report.';\n\n// Декодируем HTML entities\nmessageToSend = messageToSend.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n\n// Убираем все markdown символы чтобы Telegram не ругался\nmessageToSend = messageToSend.replace(/[*_`\\[\\]]/g, '');\n\nconst reportType = callback_data === 'ai_top3' ? 'ai_top3' : callback_data === 'code_top3' ? 'code_top3' : '';\nreturn [{ json: { chat_id, query_id, messageToSend, reportType } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -160
      ],
      "id": "d58ca078-3f1d-40e0-98c9-b730646860ff",
      "name": "Pick Message"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst chat_id = item.chat_id;\nconst messageToSend = item.messageToSend || '';\nconst reportType = item.reportType || '';\n\nif (reportType === 'code_top3') {\n  const separator = '\\n\\n────────────────────\\n\\n';\n  const parts = messageToSend.split(separator).map(s => s.trim()).filter(Boolean);\n  if (parts.length > 0) {\n    return parts.map(part => ({ json: { chat_id, messageToSend: part } }));\n  }\n}\n\nreturn [{ json: { chat_id, messageToSend } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -160
      ],
      "id": "768e00e7-129e-454a-abc5-d33bf09cb702",
      "name": "Split Code Top 3 for Send"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.messageToSend }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        -160
      ],
      "id": "64f58a12-e56a-4f62-bcda-80a323cf6246",
      "name": "Send a text message",
      "webhookId": "3f17cd9e-202f-4579-9ace-a10350de6ba8",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot (create in n8n)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get Chat & Choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat & Choice": {
      "main": [
        [
          {
            "node": "Google Sheets Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Read": {
      "main": [
        [
          {
            "node": "Pick Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Message": {
      "main": [
        [
          {
            "node": "Split Code Top 3 for Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Code Top 3 for Send": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aa4e963e-a722-4ab8-8f70-caeb47fb7549",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "343d15c90a40588ed963a29b46b1fb7809fabbde92a2199832a4ff9f1d2814f4"
  },
  "id": "iUmQaG6Q8c4AtMfo",
  "tags": []
}